{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="card-content">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-100 py-3 px-4">
                <div class="card-body">
                  <h6 class="card-title">Total Product</h6>
                  <h2 class="card-text">402</h2>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100 py-3 px-4">
                  <div class="card-body">
                    <h6 class="card-title">Total Product</h6>
                    <h2 class="card-text">402</h2>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 py-3 px-4">
                  <div class="card-body">
                    <h6 class="card-title">Total Product</h6>
                    <h2 class="card-text">402</h2>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 py-3 px-4">
                  <div class="card-body">
                    <h6 class="card-title">Total Product</h6>
                    <h2 class="card-text">402</h2>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h3>Data Barang</h3>

    <div class="data-product">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID Product</th>
                <th scope="col">Product Name</th>
                <th scope="col">Type of Product</th>
                <th scope="col">Qty Product</th>
                <th scope="col">Date In</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>21552</td>
                <td>Nivea Men</td>
                <td>Cosmetic</td>
                <td>41</td>
                <td>March 05, 2022</td>
              </tr>
            </tbody>
        </table>
    </div>

{% endblock %}