{% extends "log_base.html" %}
{% block title %}Sign Up | Warehouse Management{% endblock %}

{% block content %}

    <div class="col-4">
        <h3 align="center">Sign Up</h3>
        <form method="POST">

            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="fullName" class="form-label">Full name</label>
                <input type="text" class="form-control" id="fullName" name="fullName">
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword1" name="password1">
            </div>
            <div class="mb-3">
                <label for="InputPassword2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="InputPassword2" name="password2">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>

        </form>
    </div>

{% endblock %}